.vscode/
unused/
dados.txt
caracterizar_hdu.py
__pycache__/
avaliar_preprocessamento.py
testar_preprocessamento.py
testando/
saidas_teste/
run_plate_solve.sh
teste.xy
teste.axy
astrometry.cfg
teste-indx.xyls
teste.axy.fits
teste.match
teste.solved
teste.wcs
estrelas.axy.fits
estrelas.xy
